USE [master]
GO
/****** Object:  Database [SHOPBANTHUOCAPI2020]    Script Date: 12/8/2020 4:46:17 PM ******/
CREATE DATABASE [SHOPBANTHUOCAPI2020]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPBANTHUOCAPI2020', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER03\MSSQL\DATA\SHOPBANTHUOCAPI2020.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SHOPBANTHUOCAPI2020_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER03\MSSQL\DATA\SHOPBANTHUOCAPI2020_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPBANTHUOCAPI2020].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPBANTHUOCAPI2020]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[ID_CT] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaSP] [char](15) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[MaKH] [int] NULL,
	[SDT] [char](20) NULL,
	[HoTen] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[Diachi] [nvarchar](255) NULL,
	[TongTien] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [char](15) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[ThanhPhan] [nvarchar](100) NULL,
	[CongDung] [nvarchar](100) NULL,
	[LieuLuong] [nvarchar](255) NULL,
	[GiaBan] [int] NULL,
	[MaDM] [int] NULL,
	[DonVi] [nvarchar](100) NOT NULL,
	[DangThuoc] [nvarchar](100) NOT NULL,
	[HinhAnh] [nchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEWCHITIET]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEWCHITIET] AS
SELECT DH.MaDH, DH.MaKH, CT.MaSP, SP.TenSP, SP.HinhAnh, CT.SoLuong, CT.DonGia, CT.ThanhTien 
FROM dbo.CHITIETDONHANG CT, dbo.DONHANG DH, dbo.SANPHAM SP
WHERE CT.MaDH =DH.MaDH AND CT.MaSP = SP.MaSP
GO
/****** Object:  Table [dbo].[TRANGTHAIDONHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDONHANG](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEWDONHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEWDONHANG] AS

SELECT DH.MaDH, DH.NgayLap,DH.MaKH, DH.HoTen, DH.SDT, DH.Email,DH.Diachi, DH.TongTien, TT.MaTT, TT.TenTT
FROM dbo.DONHANG DH INNER JOIN dbo.TRANGTHAIDONHANG TT ON TT.MaTT = DH.TrangThai;
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](255) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [nchar](20) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[MatKhau] [char](100) NOT NULL,
	[Diachi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRI]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRI](
	[MaQT] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[SDT] [nchar](20) NOT NULL,
	[MatKhau] [nchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TRANGTHAIDONHANG] ([MaTT])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANHMUC] ([MaDM])
GO
/****** Object:  StoredProcedure [dbo].[DeleteDANHMUC]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDANHMUC]
@id INT
AS
BEGIN
DELETE FROM DANHMUC
WHERE MaDM = @id ;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteKHACHHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteKHACHHANG]
@id INT
AS
BEGIN
DELETE FROM KHACHHANG
WHERE MaKH= @id ;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSANPHAM]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSANPHAM]
@id INT
AS
BEGIN
DELETE FROM SANPHAM
WHERE MaSP= @id ;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertDANHMUC]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertDANHMUC]
@ten nvarchar(30)
AS
BEGIN
INSERT INTO DANHMUC(TenDM,GhiChu) 
VALUES ( @ten,'');
END
GO
/****** Object:  StoredProcedure [dbo].[InsertKHACHHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertKHACHHANG]

@SDT nchar(20),
@HoTen nvarchar(255),
@Email nvarchar(100),
@MatKhau char(100),
@Diachi nvarchar(255)

AS
BEGIN
INSERT INTO KHACHHANG(SDT,HoTen,Email,MatKhau,Diachi) 
VALUES ( @SDT,@HoTen,@Email,@MatKhau,@Diachi);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertSANPHAM]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSANPHAM]
@MaSP INT,
@TenSP nvarchar(100),
@ThanhPhan nvarchar(100),
@CongDung nvarchar(100),
@LieuLuong nvarchar(255),
@DonVi nvarchar(100),
@DangThuoc nvarchar(100),
@HinhAnh nchar(255),
@MoTa nvarchar(255),
@GiaBan INT,
@MaDM int

AS
BEGIN
INSERT INTO SANPHAM(MaSP,TenSP,ThanhPhan,CongDung,LieuLuong,DonVi,GiaBan,DangThuoc,HinhAnh,MoTa,MaDM) 
VALUES ( @MaSP, @TenSP,@ThanhPhan,@CongDung,@LieuLuong,@DonVi,@GiaBan,@DangThuoc,@HinhAnh,@MoTa,@MaDM);
END
----------------------
GO
/****** Object:  StoredProcedure [dbo].[UpdateKHACHHANG]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateKHACHHANG]
@MaKH INT,
@SDT nchar(20),
@HoTen nvarchar(255),
@Email nvarchar(100),
@MatKhau char(100),
@Diachi nvarchar(255)
AS
BEGIN
UPDATE KHACHHANG SET SDT=@SDT,HoTen=@HoTen,Email=@Email,MatKhau=@MatKhau,Diachi=@Diachi
WHERE MaKH= @MaKH ;
END
----------------------
GO
/****** Object:  StoredProcedure [dbo].[UpdateSANPHAM]    Script Date: 12/8/2020 4:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateSANPHAM]
@id INT,
@TenSP nvarchar(100),
@ThanhPhan nvarchar(100),
@CongDung nvarchar(100),
@LieuLuong nvarchar(255),
@DonVi nvarchar(100),
@DangThuoc nvarchar(100),
@HinhAnh nchar(255),
@MoTa nvarchar(255),
@GiaBan INT
AS
BEGIN
UPDATE SANPHAM SET TenSP=@TenSP,ThanhPhan=@ThanhPhan,CongDung=@CongDung,LieuLuong=@LieuLuong,
DonVi=@DonVi,DangThuoc=@DangThuoc,HinhAnh=@HinhAnh,MoTa=@MoTa,GiaBan=@GiaBan
WHERE MaSP = @id ;
END
----------------------
GO
USE [master]
GO
